# Ignore virtual environment
.venv/
env/

# Ignore PyCharm files
.idea/
*.iml

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore SQLite database (optional)
db.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

